/* scoreboard */
.scoreboard {
    text-align: center;
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: bold;
    color: white;
}

/* message display */
#message {
    margin-top: 20px;
    font-size: 32px;
    font-weight: bold;
    color: white;
    text-align: center;
}

/* reset button */
.reset-btn {
    margin-top: 25px;
    padding: 12px 25px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 10px;
    background: #0d47a1;
    color: white;
    cursor: pointer;
    border: none;
    transition: 0.3s ease-in-out;
}

.reset-btn:hover {
    transform: scale(1.1);
    background: #1565c0;
}
